body {width: 100%; background:linear-gradient(#ff2400 20%, #4b0082 80%); overflow: hidden; background-attachment: fixed;}
.ixii {border: rgb(229, 208,88) groove 16px; margin: 48px auto; display: block;} 
h1, h4 {margin: 0px; padding: 0px; text-align: center; font-family:Georgia, 'Times New Roman', Times, serif; color: goldenrod;}
